.index-page {
    .head-box {
        width: 100%;
    }
    .content-box {
        width: 1220px;
        margin: 0 auto;
        // height: 500px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .left-content {
            width: 909px;

            .chart-area {
                height: 437px;
            }
            .promotion-card-area {
                height: 100px;
                margin-top: 22px;
                border: 1px solid red;
            }
            .product-card-area {
                height: 345px;
                margin-top: 22px;
                border: 1px solid red;
            }
        }
        .right-content {
            width: 288px;

            .account-area {
                height: 267px;
                border: 1px solid red;
            }

            .index-banner-area {
                height: 148px;
                margin-top: 20px;
                border: 1px solid red;
            }

            .product-news-area {
                height: 470px;
                margin-top: 20px;
                border: 1px solid red;
            }
        }
    }
    .foot-box {
        width: 100%;
        height: 100px;
        margin-top: 20px;
        border: 1px solid red;
    }
}